{% extends "basefront.html.twig" %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h5 class="text-info mt-5">{{ formation.title }}</h5>

            <p>
                <strong>Playlist :</strong>
                {% if formation.playlist is not null %}
                    {{ formation.playlist.name }}
                {% else %}
                    Aucune playlist
                {% endif %}
            </p>

            <p>
                <strong>Catégories :</strong><br />
                {% for categorie in formation.categories %}
                    {{ categorie.name }}<br />
                {% else %}
                    Pas de catégorie
                {% endfor %}
            </p>

            <p>
                <strong>Description :</strong><br />
                {{ formation.description|nl2br }}
            </p>

            <p>
                <strong>Date de parution :</strong><br />
                {{ formation.publishedatstring }}
            </p>
        </div>

        <div class="col">
            {% if formation.videoId %}
                <iframe width="100%" height="315"
                    src="https://www.youtube.com/embed/{{ formation.videoId }}"
                    title="Vidéo YouTube"
                    style="border:0;"  <!-- 👉 CSS ici au lieu de frameborder -->
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            {% endif %}
        </div>
    </div>
{% endblock %}
